$primary-color: #007bff;
$primary-hover: #0056b3;
$background-color: #f8f9fa;
$text-color: #333; 
$gray-1: #b0b0b0;
$light-gray: #e0e0e0;
$dark-gray: #3a3a4d;
$medium-gray: #ccc;
$dark-medium-gray: #999; 
$black: #000; 
$black-2: #2c2c3b; 
$gray-2: #666;
$white: #fff;
$error: #e74c3c;