@font-face {
  font-family: 'nunito-300';
  src: url('../assets/fonts/nunito.light.ttf');
}

@font-face {
  font-family: 'nunito-400';
  src: url('../assets/fonts/nunito.regular.ttf');
}

@font-face {
  font-family: 'nunito-500';
  src: url('../assets/fonts/nunito.medium.ttf');
}

@font-face {
  font-family: 'nunito-600';
  src: url('../assets/fonts/nunito.semibold.ttf');
}

@font-face {
  font-family: 'nunito-700';
  src: url('../assets/fonts/nunito.bold.ttf');
}
