// Font size
$font-size-default: 16px;

// Font family
$font-nunito-300: 'nunito-300';
$font-nunito-400: 'nunito-400';
$font-nunito-500: 'nunito-500';
$font-nunito-600: 'nunito-600';
$font-nunito-700: 'nunito-700';

// Sizes
$input-radius: 10px;

// Responsive breakpoints
$mobile: 480px;
$tablet: 1024px;
$xs: 480px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;