@use "../../themes/colors" as *;
@use "../../themes/variables" as *;

.container {
  padding: 20px;
  max-width: $xl;
  margin: 0 auto;
  width: 100%;
}

.header {
  text-align: center;
  margin-bottom: 20px;

  .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      margin-bottom: 10px;
    }
  }

  .tagline {
    font-style: italic;
    margin-bottom: 10px;
  }

  .rating {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
}

.content {
  display: flex;
  gap: 20px;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.posterContainer {
  flex: 0 0 300px;
  position: relative;

  .poster {
    width: 100%;
    height: auto;
    border-radius: $input-radius;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    &.loaded {
      opacity: 1;
    }
  }
}

.details {
  flex: 1;

  .overview {
    margin-bottom: 20px;
    line-height: 1.5;
  }

  .genres {
    margin-bottom: 20px;
    display: flex;
    gap: 5px;
    .genre {
      display: inline-block;
      background-color: $text-color;
      padding: 5px 10px;
      border-radius: $input-radius;
      margin-right: 10px;
    }
  }

  .info {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    p {
      margin: 5px 0;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.error {
  text-align: center;
}
